* {
  padding: 0;
  margin: 0;
}
body{

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.heading{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  width: 150px;
  }
  .logo-name{
   width: 500px;
    }

.navbar {
  background-color: green;
  text-align: center;
  width: 100%;
}
.navbar ul {
  display: flex;
 justify-content: center;
 align-items: center;
  list-style: none;
}
.navbar ul li { 
  padding: 10px 5px ;
  margin: 20px;
  
}
.navbar ul li a {
  text-decoration: none;
  color: white; 
  padding: 2px;
  
  
}
.navbar ul li:hover {
   background-color: rgb(4, 70, 4); 
  /* text-decoration: underline;
  color: white; */

}
.dropdown {
  display: none;
}
.navbar ul li:hover .dropdown {
  display: block;
  position: absolute;
  background-color:rgb(3, 110, 3);
  margin-top: 13px;
  margin-left: -13px;
}
.navbar ul li:hover .dropdown ul {
  display: block;
  
} 
.navbar ul li:hover .dropdown ul li {
  text-align: center;
  width: 150px;
 } 

.banner1{
  margin: 10px ;
  width: 100%;
  
}
.result-text{
  display: flex;
}
.result{
width: 50%;
background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
color: white;
padding:10px;
font-size: 50px;
text-align: center;
}
.result2{
width: 50%;
background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
color: white;
padding:10px;
font-size: 50px;
text-align: center;
}
.admissionopen{
  background-color: #008552;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
}
.history{
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
}
.history-content{
  display: flex;
  flex-direction: column;
}
.history img{
  width: 300px;
  display: flex; 
}
.para1{
  color: green;
  font-weight: bold;
  font-size: 30px;
  width: 100%;
  margin-top: 10px;
}
.para2,.para3{
  color: black;
  font-size: 20px;
  text-align: start;
  margin-top: 10px;

}
.para3 a{
  text-decoration: none;
  font-weight: bold;
  color: black;

}