* {
  padding: 0;
  margin: 0;
}
body{

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.heading{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  width: 150px;
  }
  .logo-name{
   width: 500px;
    }

.navbar {
  background-color: green;
  text-align: center;
  width: 100%;
}
.navbar ul {
  display: flex;
 justify-content: center;
 align-items: center;
  list-style: none;
}
.navbar ul li { 
  padding: 10px 5px ;
  margin: 20px;
  
}
.navbar ul li a {
  text-decoration: none;
  color: white; 
  padding: 2px;
  
  
}
.navbar ul li:hover {
   background-color: rgb(4, 70, 4); 
  /* text-decoration: underline;
  color: white; */

}
.dropdown {
  display: none;
}
.navbar ul li:hover .dropdown {
  display: block;
  position: absolute;
  background-color:rgb(3, 110, 3);
  margin-top: 13px;
  margin-left: -13px;
}
.navbar ul li:hover .dropdown ul {
  display: block;
  
} 
.navbar ul li:hover .dropdown ul li {
  text-align: center;
  width: 150px;
 } 

.banner1{
  margin: 10px ;
  
}